<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>
      Harobot | Assistant yang Membantu Hidupmu dengan Fitur Reminder Pekerjaan!
    </title>
   
  </head>
  <body>
    <div class="logo">
      <img class="style-logo" src="../static/harobot (1).gif">
    </div>
    

    <h1>Harobot</h1>
    <h3>Penerapan String Matching dan Regular Expression dalam
      Pembangunan Deadline Reminder Assistant</h3>
    <div class="container-logo">
      <a href="start" class="button">Mulai!</a>
      
    </div>
    
  </body>
  <div class="footer">
    <p>
      @ Dzaki, Rafidika, Wishnu, 2021
    </p>
  </div>
  
</html>